secrets:
  mysql_root_password: changeme
  mysql_admin_user: changeme
  mysql_admin_password: changeme

  nextcloud_admin_user: changeme
  nextcloud_admin_password: changeme

nextcloud:
  trusted_proxies: "<ingress ip> <pod network>"
  host: nextcloud.example.com
  persistence:
    data:
      pv:
        nfs: 192.168.1.10
        path: /path/to/nextcloud/data
